@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


/* BOARD */
.board-wrapper{
    margin: auto;
    max-width: 900px;
    padding: 10px 30px;
}

.notice-title{
    display: flex;
    align-items: center;
    margin: 20px 2px;
}
.notice-title svg{
    margin-right: 7px;
    width: 16px;
    height: 16px;
}
.notice-title span{
    color: #222;
}

table{
    width:100%;
    padding: 0;
}
table span{
    font-family: 'Nunito Sans', sans-serif;
    font-size:13px; 
    color:#555555;
}
table #header{
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0px 3px #f2f2f2;
}
table #row{
    border-bottom: 1px solid #f2f2f2;
}
table #row a{
    color: #222;
    font-size: 14px;
    font-family: 돋움, 'Nunito Sans', sans-serif;
}
table #paginator{
    text-align: center;
    margin-top: 20px;
}

.page_number {
    color:#444444;
    font-size:8pt;
    font-family: 'Nunito Sans', sans-serif;
    border:1px solid #dddddd; 
    background-color:#ffffff;  
    padding: 2px 4px; 
    margin-left:2px;
}
.page_number.on {
    background-color:#E0E0E0;
}

a{
    text-decoration: none;
}

#dot{
    display: inline-block;
    margin-right: 5px;
    align-self: center;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: royalblue;
    box-shadow: 0px 1px 1px #999;
}